.projects .header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 15px 5px;
}

.projects .header h2 {
  margin: 0;
  color: #172B4D;
}

.projects .header .add-project {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background-color: #F4F5F7;
}

.projects .header i {
  font-size: 16px;
  color: #172B4D;
}

.projects .projects-container .title {
  width: 260px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.5s ease;
  position: relative;
  display: flex;
}

.projects .projects-container .title p {
  font-size: 14px;
  color: #172B4D;
  font-family: 'Inter', sans-serif;
  margin: 15px 15px 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.projects .projects-container .title:hover {
  background-color: #DEEBFF;
}

.projects .projects-container .title.active {
  background-color: #DEEBFF;
}