.subtasks .wrapper {
  width: 95%;
  margin: auto;
}

.subtasks .header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  color: #505F79;
  padding-bottom: 20px;
}

.subtasks .header .title i {
  padding-right: 10px;
}

.subtasks .header .title p, i {
  color: #8993A4;
  padding-top: 2px;
}

.subtasks .header .export p, i {
  padding-top: 2px;
}

.subtasks .header .title {
  display: flex;
}

.subtasks .header .export {
  display: flex;
}

.subtasks .header .export #export-options {
  border: none;
  border-radius: 3px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: #F4F5F7;
  color: #505F79;
  padding: 2px 0px 2px 5px;
  margin: 0 5px;
}

.subtasks .subtask {
  position: relative;
  display: flex;
  background-color: #F5F7FA;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.subtasks .subtask .stripe {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px; 
  background-color: #79E2F2;
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
}

.subtasks .subtask .wrapper {
  padding: 15px 20px 15px 25px; 
  flex-grow: 1;
}

.subtasks .subtask p.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #172B4D;
}

.subtasks .subtask p.description {
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0 15px 0;
  color: #6B778C;
}

.subtasks .subtask .tools {
  display: flex;
  justify-content: space-between;
}

.subtasks .subtask .tools .priority {
  display: flex;
}

.subtasks .subtask .tools .level {
  background-color: #DFE1E6;
  border-radius: 10px;
  height: fit-content;
  margin-top: 4px;
}

.subtasks .subtask .tools .level p {
  padding: 1px 8px;
  font-size: 10px;
  font-weight: 600;
  color: #6B778C;
}

.subtasks .subtask .tools .time p {
  color: #6B778C;
  font-size: 12px;
  padding: 3px 0 0 10px;
}

.subtasks .subtask .tools .priority i {
  color: #FF7452;
  padding-right: 8px;
}

.subtasks .subtask .tools .edit i {
  color: #8993A4;
  padding-left: 10px;
}
