.subtasks .wrapper {
  width: 95%;
  margin: auto;
}

.subtasks .header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  color: #505F79;
  padding-bottom: 20px;
}

.subtasks .header .title i {
  padding-right: 10px;
}

.subtasks .header .title p, i {
  color: #8993A4;
  padding-top: 2px;
}

.subtasks .header .export p, i {
  padding-top: 2px;
}

.subtasks .header .title {
  display: flex;
}

.subtasks .header .export {
  display: flex;
}

/* for selector (calendar/to-do) */
/* .subtasks .export #export-options {
  border: none;
  border-radius: 3px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: #F4F5F7;
  color: #505F79;
  padding: 2px 0px 2px 5px;
  margin: 0 5px;
} */

.subtasks .export .export-button {
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #0b66e4;
  color: #fff;
  transition: .3s ease;
}

.subtasks .export .export-button p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding: 0;
}

.subtasks .export .export-button:hover {
  background-color: #0052CC;
}

.subtasks .subtask {
  min-width: 300px;
  position: relative;
  display: flex;
  background-color: #F5F7FA;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.subtasks .subtask .stripe {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px; 
  background-color: #B3D4FF;
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
}

.subtasks .subtask .wrapper {
  padding: 15px 20px 15px 25px; 
  flex-grow: 1;
}

.subtasks .subtask p.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #172B4D;
}

.subtasks .subtask p.description {
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0 15px 0;
  color: #6B778C;
}

.subtasks .subtask .tools {
  display: flex;
  justify-content: space-between;
}

.subtasks .subtask .tools .priority {
  display: flex;
}

/* different styling based on level */
.subtasks .subtask .tools .level p {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border-radius: 3px;
  padding: 3px 10px;
  margin-right: 20px;
}

/* critical level */
.subtasks .subtask .tools .level.critical p {
  background-color: #F7E4E0;
  color: #FF5630;
}

/* high level */
.subtasks .subtask .tools .level.high p {
  background-color: #F9E7D1;
  color: #FF8B00;
}

/* medium level */
.subtasks .subtask .tools .level.medium p {
  background-color: #fff0b3a5;
  color: #FFAB00;
}

/* low level */
.subtasks .subtask .tools .level.low p {
  background-color: #ABF5C166;
  color: #00875A;
}

.subtasks .subtask .tools .time {
  display: flex;
}

.subtasks .subtask .tools .time p {
  color: #6B778C;
  font-size: 12px;
  padding: 3px 0 0 10px;
}

.subtasks .subtask .tools .edit i {
  color: #8993A4;
  padding-left: 10px;
  font-size: 15px;
  transition: .3s ease;
}

.subtasks .subtask .tools .edit i.fa-trash-can:hover {
  color: #FF7452;
}

.subtasks .add-task-button {
  background-color: transparent;
  border: none;
}

.subtasks .add-task-button i {
  font-size: 30px;
  color: #0b66e4;
  transition: .3s ease;
}

.subtasks .add-task-button i:hover {
  color: #0052CC;
}

.projects .projects-container .delete-button i {
  color: #6B778C;
  transition: .3s ease;
}