.instructions .wrapper {
  width: 95%;
  margin: auto;
}

.instructions .logo {
  display: flex;
}

.instructions .logo .cookie-logo {
  width: 20px;
  height: 20px;
  padding: 10px 10px 10px 0;
}

.instructions .logo span {
  font-size: 20px;
  font-weight: 600;
  padding-top: 8px;
  color: #172B4D;
}

.instructions .header p {
  margin: 0;
}

.instructions .header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0;
  color: #172B4D;
}

.instructions .header p {
  font-size: 14px;
  color: #172B4D;
  padding-bottom: 20px;
}

.instructions textarea {
  width: calc(100% - 40px);
  height: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 1.5px solid #DFE1E6;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  resize: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #172B4D;
}

.instructions .send-button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #0052CC;
  transform: translateX(440px) translateY(-85px);
}

.instructions .send-button i {
  font-size: 16px;
  color: #fff;
}

.instructions p {
  font-size: 14px;
}

.instructions .upload {
  display: flex;
  padding-top: 20px;
}

.instructions .upload .upload-button {
  display: flex;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px 15px;
  background-color: #0052CC;
  color: #fff;
}

.instructions .upload p {
  padding-top: 10px;
}

.instructions .upload .upload-button p { 
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.instructions .upload .upload-button i {
  font-size: 14px;
  padding-left: 10px;
}